.container{
    border: 1px solid red;
    height: 700px;
    overflow: scroll;
    background-size: 100%;
}

.background-images{
    height: 4000px;
}

.test{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 850px;
    height: 500px;
    transition: background-image 0.2s ease-in-out;
}

html{
    overflow: hidden;
    height: 100%;
}
body{
    overflow: auto;
    height: 100%;
}
